@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@500&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #e5e5e5;
  display: flex;
  padding-top: 5rem;
  justify-content: center;
  overflow: hidden;
  margin: 0;
}

.row {
  display: flex;
  width: 600px;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.col-header {
  width: 150px;
  box-shadow: 4px 4px 9px rgba(198, 198, 198, 0.36);
  border-radius: 20px;
  padding: 0.8rem 1rem;
  color: #fff;
}

.item {
  width: 150px;
  height: 300px;
  border: 1px solid #eee;
  box-shadow: 4px 4px 9px rgba(198, 198, 198, 0.36);
  border-radius: 20px;
  background: #f7f6f7;
  padding: 0.8rem 1rem;
  color: #fff;
  text-align: center;
  cursor: grab;
  background-size: cover;
  transition: 0.5s;
}

.item:active {
  cursor: grabbing;
}

.placeholder {
  width: 150px;
  height: 300px;
  border-radius: 20px;
}

.start {
  background: linear-gradient(90deg, #ff85e4 0%, #229efd 179.25%);
}

.yes {
  background: #6bbf3d;
}

.no {
  background: #bf3d3d;
}

.hold{
  border: 2px solid #229efd;
}

.hide{
  display: none;
  transition: 0.5s;
}

.hovered.yes-placeholder{
  -webkit-box-shadow: 0px 0px 29px 0px rgba(107, 191, 61, 0.44);
  -moz-box-shadow: 0px 0px 29px 0px rgba(107, 191, 61, 0.44);
  box-shadow: 0px 0px 29px 0px rgba(107, 191, 61, 0.44);
  background-color: rgba(107, 191, 61, 0.1);
  transition: 0.5s;
}
.hovered.no-placeholder{
  -webkit-box-shadow: 0px 0px 29px 0px rgba(191, 61, 61, 0.44);
  -moz-box-shadow: 0px 0px 29px 0px rgba(191, 61, 61, 0.44);
  box-shadow: 0px 0px 29px 0px rgba(191, 61, 61, 0.44);
  background-color: rgba(191, 61, 61, 0.1);
  transition: 0.5s;
}